@using Pnk.Web.Models.ViewModel
@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Product List";
}

<h1>List of Available Products</h1>
<table class="table">
    <thead>
        <tr>

            <th scope="col">Product Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
<tbody>
        @{
            foreach (var product in Model)
            {
                    <tr>
                    <td>
                     @product.ProductId
                    </td>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Description
                    </td>
                    <td>
                        @product.Price
                    </td>

                    </tr>
            }
    }
   
</tbody>
</table>